@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body{
    margin: 0;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

input{
    color: white;
}

ion-icon{
    color: white;
}

.swal2-icon svg {
    color: black !important; /* Change the color as per your preference */
}

